.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  font: 12px/16px georgia, serif;
  text-rendering: optimizelegibility;
  color: #222;
}

h3 {
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.5em;
}

.block {
  display: block;
}

.container {
  position: relative;
  padding: 4px;
}

.content {
  margin-right: 21%;
  margin-left: 10%;
}

.right {
  position: absolute;
  right: 0;
  top: 10px;
  width: 20%;
  padding: 4px;
  margin-left: 5%;
}

.menu {
  position: absolute;
  left: 0;
  top: 10px;
  width: 20%;
  padding: 4px;
}

.dimmed {
  opacity: 0.3;
}

.link {
  stroke: #000;
  stroke-width: 1.5px;
}

.node {
  cursor: Move;
  fill: #ccc;
  stroke: #fff;
  stroke-width: 1.5px;
}

.node.fixed {
  fill: #f00;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}