body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  text-rendering: optimizelegibility;
}

.progress {
  padding: 0;
  margin: 5px;
}

svg {
  cursor: move;
}

.link {
  cursor: pointer;
  stroke: #000;
  stroke-opacity: 0.6;
}

.arrow {
  cursor: pointer;
  fill: none;
  stroke: #000;
  stroke-opacity: 0.6;
}

.node {
  cursor: pointer;
  fill: #ccc;
  stroke: #fff;
  stroke-width: 1.5px;
}

.node.fixed {
  fill: #f00;
}

.label {
}

text {
  fill: #333;
  text-shadow: white 0.1em 0.1em 0.2em;
  pointer-events: none;
  stroke: none;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.pan {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#pan-top-left {
  transform: rotate(-45deg);
}

#pan-top-right {
  transform: rotate(45deg);
}

#pan-center-left {
  transform: rotate(-90deg);
}

#pan-center-right {
  transform: rotate(90deg);
}

#pan-bottom-left {
  transform: rotate(-135deg);
}

#pan-bottom-center {
  transform: rotate(180deg);
}

#pan-bottom-right {
  transform: rotate(135deg);
}

.dimmed {
  opacity: 0.3;
}

.selected {
  stroke: #ffea00; /* A400 */
}

.highlighted {
  box-shadow: 0px 0px 5px #ffea00; /* A400 */
}

.draggable {
  cursor: move; /* fallback: no `url()` support or images disabled */
  cursor: -webkit-grab; /* Chrome 1-21, Safari 4+ */
  cursor: -moz-grab; /* Firefox 1.5-26 */
  cursor: grab; /* W3C standards syntax, should come least */
}

.draggable:active {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

